@font-face {
    font-family: 'colaborate';
    src: url('../fonts/colaborate/ColabBol-webfont.eot');
    src: url('../fonts/colaborate/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colaborate/ColabBol-webfont.woff') format('woff'),
         url('../fonts/colaborate/ColabBol-webfont.ttf') format('truetype'),
         url('../fonts/colaborate/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate';
    src: url('../fonts/colaborate/ColabLig-webfont.eot');
    src: url('../fonts/colaborate/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colaborate/ColabLig-webfont.woff') format('woff'),
         url('../fonts/colaborate/ColabLig-webfont.ttf') format('truetype'),
         url('../fonts/colaborate/ColabLig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate';
    src: url('../fonts/colaborate/ColabThi-webfont.eot');
    src: url('../fonts/colaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colaborate/ColabThi-webfont.woff') format('woff'),
         url('../fonts/colaborate/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/colaborate/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate';
    src: url('../fonts/colaborate/ColabReg-webfont.eot');
    src: url('../fonts/colaborate/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colaborate/ColabReg-webfont.woff') format('woff'),
         url('../fonts/colaborate/ColabReg-webfont.ttf') format('truetype'),
         url('../fonts/colaborate/ColabReg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate';
    src: url('../fonts/colaborate/ColabMed-webfont.eot');
    src: url('../fonts/colaborate/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colaborate/ColabMed-webfont.woff') format('woff'),
         url('../fonts/colaborate/ColabMed-webfont.ttf') format('truetype'),
         url('../fonts/colaborate/ColabMed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Bravura';
    src: url('../fonts/bravura-1.02/eot/Bravura.eot');
    src: url('../fonts/bravura-1.02/eot/Bravura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bravura-1.02/woff/Bravura.woff') format('woff'),
         url('../fonts/bravura-1.02/otf/Bravura.otf') format('opentype'),
         url('../fonts/bravura-1.02/svg/Bravura.svg#7377dd80c36b825ad2214a14c2421925') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BravuraText';
    src: url('../fonts/bravura-1.02/eot/BravuraText.eot');
    src: url('../fonts/bravura-1.02/eot/BravuraText.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bravura-1.02/woff/BravuraText.woff') format('woff'),
         url('../fonts/bravura-1.02/otf/BravuraText.otf') format('opentype'),
         url('../fonts/bravura-1.02/svg/BravuraText.svg#f678e10c1f5609a8428c245cc86aa255') format('svg');
    font-weight: normal;
    font-style: normal;

}

