@import 'variables';

/*.file1only *, .file1 .noMatch {
    fill: red;
    stroke: red;
}

.file2only *, .file2 .noMatch {
    fill: green;
    stroke: green;
}*/

#contentBox[data-mode='comparison'] svg g {
    fill: #888888;
    stroke: #888888;
}

#contentBox[data-mode='comparison'] svg .noMatch {
    fill: $highlightColor_different;
    stroke: $highlightColor_different;
    
    .accid {
        fill: $highlightColor_different;
        stroke: $highlightColor_different;
    }
}

#contentBox[data-mode='comparison'] svg .ts {
    fill: $highlightColor_transp_durSame;
    stroke: $highlightColor_transp_durSame;
    
    .accid {
        fill: $highlightColor_transp_durSame;
        stroke: $highlightColor_transp_durSame;
    }
}

#contentBox[data-mode='comparison'] svg .od {
    fill: $highlightColor_octDiff_durDiff;
    stroke: $highlightColor_octDiff_durDiff;
    
    .accid {
        fill: $highlightColor_octDiff_durDiff;
        stroke: $highlightColor_octDiff_durDiff;    
    }
}

#contentBox[data-mode='comparison'] svg .sd {
    fill: $highlightColor_octSame_durDiff;
    stroke: $highlightColor_octSame_durDiff;
    
    .accid {
        fill: $highlightColor_octSame_durDiff;
        stroke: $highlightColor_octSame_durDiff;
    }
}

#contentBox[data-mode='comparison'] svg .os, #contentBox[data-mode='comparison'] svg .os.od {
    fill: $highlightColor_octDiff_durSame;
    stroke: $highlightColor_octDiff_durSame;
    
    .accid {
        fill: $highlightColor_octDiff_durSame;
        stroke: $highlightColor_octDiff_durSame;
    }
}

#contentBox[data-mode='comparison'] svg .id {
    fill: $highlightColor_identical !important;
    stroke: $highlightColor_identical !important;
    
    .accid {
        fill: $highlightColor_identical !important;
        stroke: $highlightColor_identical !important;
    }
}

#contentBox[data-mode='geneticComparison'] svg .file1 .noMatch, 
#contentBox[data-mode='geneticComparison'] svg .file1 .ts, 
#contentBox[data-mode='geneticComparison'] svg .file1 .od, 
#contentBox[data-mode='geneticComparison'] svg .file1 .sd, 
#contentBox[data-mode='geneticComparison'] svg .file1 .os {
    fill: $colorVariant1;
    stroke: $colorVariant1;
    
    .accid {
        fill: $colorVariant1;
        stroke: $colorVariant1;
    }
    
    &.id {
        fill: #000000;
        stroke: #000000;
        
        .accid {
            fill: #000000;
            stroke: #000000;
        }
    }
}

#contentBox[data-mode='geneticComparison'] svg .file2 .noMatch, 
#contentBox[data-mode='geneticComparison'] svg .file2 .ts, 
#contentBox[data-mode='geneticComparison'] svg .file2 .od, 
#contentBox[data-mode='geneticComparison'] svg .file2 .sd, 
#contentBox[data-mode='geneticComparison'] svg .file2 .os {
    fill: $colorVariant2;
    stroke: $colorVariant2;
    
    .accid {
        fill: $colorVariant2;
        stroke: $colorVariant2;
    }
    
    &.id {
        fill: #000000;
        stroke: #000000;
        
        .accid {
            fill: #000000;
            stroke: #000000;
        }
    }
}