$highlightColor_identical: #000000;
$highlightColor_different: #d825da;
$highlightColor_octDiff_durSame: #f4531b;
$highlightColor_octSame_durDiff: #26d6fc;
$highlightColor_octDiff_durDiff: #1b44f4;
$highlightColor_transp_durSame: #859900;