$mainFont: colaborate, Arial, sans-serif;
$mainFontSize: 16px;
$mainFontColor: rgb(229,229,229);
$mainContentColor: #333333;

$spotColor: #c93b22;

$headerHeight: 30px;
$footerHeight: 0;

$noteHighlightColor: #dd3333;

$viewMenuBarHeight: 25px;
$viewMenuBarTopColor: #f5f5f5;
$viewMenuBarBottomColor: #e5e5e5;

$tourBackgroundZIndex: 30000;
$tourWindowZIndex: 50000;
$loadingBackgroundZIndex: 40000;