@import 'score';
@import 'fonts';
@import 'variables';

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

@media only screen and (min-width: 960px) {
    #navigationBox {
        position: absolute;
        top: 62.5px;
        left: 0;
        bottom: 0;
        overflow: scroll;
        max-height: unset !important;
        
        & > .columns {
            height: unset !important;
        }
        
        
        .formGroup {
            overflow: unset;
        }
    }
    
    #contentBox {
        position: absolute;
        right: 0;
        top: 62.5px;
        bottom: 0;
        overflow: scroll;
    }
}


body {
    background-color: #ffffff;
    
    header {
        background-color: #e5e5e5;
        border-bottom: .5px solid #999999;
        padding: 10px 20px;
        
        #bwLogo {
            color: transparent;
            background-image: url('../pix/beethovensw_finale01.png');
            background-size: cover;
            height: 42px;
        }
        
        #openModalBtn {
            font-size: .8em;
            font-weight: 100;
            cursor: pointer;
            text-align: center;
        }
        
        #githubLogo {
            color: transparent;
            background-image: url('../pix/GitHub-Mark-120px-plus.png');
            background-size: 32px 32px;
            background-repeat: no-repeat;
        }
    }
    
    #contentBox {
        background-color: #ffffff;
        overflow: auto;
        padding: 10px;
    }
    
    #navigationBox {
    
        background-color: #f5f5f5;
        padding: 10px;
        
        max-height: 160px;
        
        & > .columns {
            height: 100%;
        }
        
        .formGroup {
            padding: 0 10px 10px;
            overflow: scroll;
            height: 100%;
            
            ul.navigationList {
                list-style-type: none;
                margin: 0;
                padding: 0;
                
                li {
                    padding: 0 0 0 1em;
                    margin: 0;
                    font-weight: 300;
                    position: relative;
                    cursor: pointer;
                    
                    &.active {
                    
                        font-weight: 500;
                    
                        &:before {
                            position: absolute;
                            left: .2em;
                            content: '‣'
                        }
                    }
                }
            }
        }
        
        .sectionLabel {
            font-size: 1.2em;
            
        }
        
        .input-group.colorSwatches {
            
            padding: 1em;
            
            .colorSwatch {
                display: inline-block;
                width: 1em;
                height: 1em;
                border-radius: .5em;
                margin: 0 .5em 0 0;
                border: .5px solid #666666;
                cursor: pointer;
                position: relative;
                
                &.active:after {
                    position: absolute;
                    content: ' ';
                    width: 7px;
                    height: 7px;
                    border-radius: 7px;
                    left: 4px;
                    top: 4px;
                    font-size: 0;
                }
                
                &.contrastBlack.active:after {
                    background-color: #000000;
                }
                &.contrastWhite.active:after {
                    background-color: #ffffff;
                }
            }
            
            &.inactive {
                .colorSwatch {
                    background-color: #cccccc !important;
                    
                    &.active:after {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    
    #infoModal {
        
        #versionInfo {
            .dirty-false {
                display: none;
            }
            
            .dirty-true {
                color: red;
            }
        }
    }

}